#search-div{
  height:30vh;
  margin-top: 1.8cm;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Segoe UI", "Helvetica Neue", "Arial" !important;
}

.creator-box{
  width:200px;
}

.ccard-body{
  height:220px;
}

.ellipsis2 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /*行數*/
  -webkit-box-orient: vertical;
  white-space: normal;
}

.ellipsis1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color:grey
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  padding-right:10px;
  z-index:99;
}
#exploreBtn {
  width:190px;
  height:50px;
}

main{
  height: 3000px !important;
}