*{
    box-sizing: border-box;
}

.header{
    height: 140px;
    width: 100vw;
    display: flex;
    position: fixed ;
    top: 0;
    border-bottom: 40px solid #4d4e4f ;
    background-color: white;
    z-index: 100;
}

.logo{
    margin-top : 28px;
    margin-left: 30px;
    cursor: pointer;
}

.header > .nav{
    margin-left: 96px;
    margin-top : 44px;
    display: flex;
}

.nav > .tag{
    letter-spacing: 30px;
    font-size: 20px;
    color: #3f3a3a;
    line-height: 28px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.nav > .tag-line {
    width: 34px;
    font-size: 20px;
    color: #3f3a3a;
    line-height: 28px;
    margin-left: 11px;
    margin-right: 5px;
}

.search{
    width: 214px;
    height:40px;
    border: solid 1px #979797;
    border-radius: 20px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: 28px;
    margin-left: auto;
}

.cart{
    margin-top: 28px;
    margin-left: 30px;
    cursor: pointer;
}

.member{
    margin-top: 28px;
    margin-right: 54px;
    margin-left: 30px;
    cursor: pointer;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    min-height: calc(100vh - 345px);
}

/* header end */

#form_container{
    margin-top: 210px;
    width: 550px;
    margin-left: auto; 
    margin-right: auto;
}

#signin_form{
    border-top: 100px;
}

#signup_form{
    margin-top: 70px;
}

.login_form h2{
    margin-left: 10px;
    letter-spacing: 4px;
}

.form_input input{
    width:100%;
    font-size: 18px;
    letter-spacing: 2px;
    color: #837f7f;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-top: 10px;
    border: solid 1.5px #b4b2b2;
    border-radius: 20px;
}

.btn{
    color: #3f3a3a;
    text-align: center;
    background-color:#FFD500;
    border-color: white;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    letter-spacing: 7px;
}

#signup_msg, #signin_msg{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(170, 27, 27);
    margin-top: 25px;
    margin-left: 15px;
}

#profile_container{
    margin-top: 210px;
    width: 500px;
    margin-left: auto; 
    margin-right: auto;

}

#profile_container h2{
    letter-spacing: 4px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3f3a3a;
    margin-left: 1px;
}

.profile_column{
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 1px;
    color:#4d4e4f;
    font-weight: 500;
}


/* footer start */
footer{
    height: 115px;
    background-color: #4d4e4f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

footer > nav > ul{
    display: flex;
    align-items: center;
    color: #f5f5f5;
    list-style: none;
    cursor: pointer;
}

footer > nav > ul >li {
    width: 130px;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    border-right: 1px solid #f5f5f5;
}

footer > .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210 px;
    margin-left: 90px ;
}

footer > .links > img {
    height: 50px;
    width:50px;
    cursor: pointer;
    margin-right: 30px;
}

footer > .rights {
    line-height: 17px;
    font-size: 12px;
    color: #828282;
    text-align: center;
}
